@model LogginnViewModel

<div class="container">
    <h2>Logg Inn</h2>
    @using (Html.BeginForm("LoggInn", "Account", FormMethod.Post))
    {
        <div class="form-group">
            @Html.LabelFor(m => m.Email)
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Password)
            @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
        </div>
        <button type="submit" class="btn btn-primary">Logg inn</button>
    }
    <p>Har du ikke en konto? <a href="Register">Registrer deg</a></p>
</div>
