@{
    ViewData["Title"] = "Meld inn en feil";
}

<h2>Meld inn en feil</h2>

<p>Bruk kartet nedenfor til å markere feilen du har oppdaget:</p>

<!-- Du kan senere legge til et skjema her for innmelding av feil -->