@model HomeViewModel

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Rett i kartet</h1>
    <p>Vil du sende inn en feilmelding? Logg inn eller registrer deg.</p>
    <a class="btn btn-success" type="button" href="@Url.Action("LoggInn", "Account")" style="margin-bottom: 10px;">Logg inn / Registrer deg</a>
</div>

@* Legg til bildet her *@
<div style="text-align: center;">
    <img src="https://cdn.pixabay.com/photo/2023/07/05/18/13/mountains-8108961_1280.jpg" alt="Beautiful mountains" style="width:850px; height:auto;  margin-top: 10px;">
</div>

