@model HomeViewModel

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Rett i kartet!</h1>
    <p>Vil du sende inn en feilmelding? Logg inn eller registrer deg!</p>
    <a class="btn btn-success" type="button" href="@Url.Action("LoggInn", "Account")">Logg inn / Registrer deg</a>
</div>

