@{
    ViewBag.Title = "Admin Innboks";
}

<h2>Din Admin Innboks</h2>

<!-- Simulert visning av meldinger -->
<table class="table">
    <thead>
        <tr>
            <th>From</th>
            <th>Message</th>
            <th>Date</th>
        </tr>
    </thead>
</table>