
.header, .footer {
    background-color: white;
}

/* bakgrunnsbilde på hovedside */
.content-background {
    background-image: url('https://cdn.pixabay.com/photo/2023/07/05/18/13/mountains-8108961_1280.jpg'); /* link til bildet */
    background-size: cover;
    background-position: center;
    justify-content: center;
    align-items: center;
}

/* sentrert hvit boks på hovedside */
.centered-box {
    background-color: white;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    max-width: 520px;
    text-align: center;
    width: 90%; /* gjør det responsivt */
}

/*footer på applikasjonen*/
footer {
    padding: 8px;
    text-align: center;
    color: #6c757d; /* Gjør skriften grå */
}

footer a {
    text-decoration: none; /* fjerner underlinje under personvern-link */
}


@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    height: 100%;
    font-size: 16px;
}

body {
    height: 100%;
    font-family: "Mulish", sans-serif; /* fikser font på applikajsonen, i tillegg til standardfont hvis gitt font ikke funker*/
}


/*Styl til Filter på admin feilmeldingsiden*/
.search-filter-container {
    display: flex;
    align-items: center;
    gap: 20px; /* Øker avstanden mellom elementene */
}

.filter-popup {
    width: 300px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    z-index: 100;
}

.filter-popup h4 {
    margin-bottom: 15px;
}

.filter-popup label {
    margin-top: 10px;
}

#applyFiltersBtn {
    margin-top: 15px;
}
