@{
    ViewBag.Title = "Mine Innmeldinger";
}

<div class="container mt-4">
    <h3>Velkommen til mine innmeldinger!</h3>

    <!-- Section to display submitted data -->
    <div id="submitted-data" class="mt-4">
        <h4>Innmeldinger:</h4>
        <ul id="submission-list"></ul>
    </div>
</div>